@import url("https://p.typekit.net/p.css?s=1&k=aez1oze&ht=tk&f=10793.10799&a=87447420&app=typekit&e=css");

@import "./base.css";

body {
  background: #4b4b4b;
  display: flex;
  align-items: center;
  justify-content: stretch;
  overflow: hidden;
}
#app {
  max-width: min(480px, 100vw);
  width: 100%;
  height: 1024px;
  max-height: min(100vh, 844px);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.15);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
