@import url("https://p.typekit.net/p.css?s=1&k=aez1oze&ht=tk&f=10793.10799&a=87447420&app=typekit&e=css");

@import "./base.css";

body {
  background: #4b4b4b;
  background-image: url("/images/splash2.png");
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: grayscale(1.5) contrast(1) brightness(0.34);
  display: flex;
  align-items: center;
  justify-content: stretch;
  height: 100vh;
  overflow: hidden;
  user-select: none; /* Standard syntax */
}

@media screen and (max-width: 480px) {
  #app {
    max-height: min(100vh, 914px);
  }
  .grid-rows-main-layout {
    grid-template-rows: 120px calc(100vh - 120px - calc(0.25 * 100vw)) calc(
        0.25 * 100vw
      );
  }
}

#app {
  max-height: min(100vh, 860px);
  overflow: hidden;
}
#app {
  max-width: min(420px, 100vw);
  width: 100%;
  height: min(860px, 100vh);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
}
.grid-rows-main-layout {
  grid-template-rows: 120px calc(min(860px, 100vh) - 120px - 105px) 105px;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.15);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
